
.container {
	display: flex;
	width: 800px;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}

.element {
	width: 200px;
	border: 1px solid lightgray;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
} 

.element a {
	color: white;
	padding: 5px;
	background-color: blue;
	border-radius: 5px;
	text-decoration: none;
}